/**
 * SCSS variables
 *
 * See ACLU style guide: https://aclu-national.github.io/style/
 **/

// FONTS
$aclu-sans-standard: "gtamstandard", Arial, Helvetica, "Nimbus Sans L", sans-serif;
$aclu-sans-compressed: "gtamcompressed", Arial, Helvetica, "Nimbus Sans L", sans-serif;
$aclu-serif: "schoolbook", Georgia, "Times New Roman", "DejaVu Serif", serif;

$normal: 400;
$bold: 700;

// FONT SIZES
$size-1: 60px;
$size-2: 42px;
$size-3: 36px;
$size-4: 24px;
$size-5: 18px;
$size-6: 16px;
$size-7: 13px;

$body-size: $size-5;

// COLORS
$blue: #0055aa;
$red: #ef404e;
$red-AA-compliant: #D93A3f; // WCAG AA compliant w/ white text

$orange: #fcAA17;
$yellow: #FFE06A;
$pink: #FABEAF;

$light-green: #A7D7B5;
$dark-green: #00343A;
$purple: #552564;
$navy: #130f54;
$azure: #A3DBE3;

$light-slate: #EFECEA;
$dark-slate: #3C3532;
$offblack: #231F20;

$grey-10: #e5e5e5;
$grey-20: #cccccc;
$grey-40: #999999;
$grey-60: #666666;
$grey-80: #333333;

$light: $grey-10;
$dark: $offblack;

$grey-darker:  $offblack;
$grey-dark:    $grey-80;
$grey:         $grey-60;
$grey-light:   $grey-20;
$grey-lighter: $grey-10;

$border: $grey-20;

// PROJECT-SPECIFIC COLORS
// Add here

// SPACING
$spacer: 15px;

// FORMS
$inputHeight: 45px;
$inputHeightLarge: 60px;

// BREAKPOINTS
$gap: 64px;                       // default Bulma (see initial-variables.scss)
$tablet: 600px;                   // CHANGED
$desktop: 1200px;                 // CHANGED
$widescreen: 1152px + (2 * $gap); // default Bulma (see initial-variables.scss)
$fullhd: 1344px + (2 * $gap);     // default Bulma (see initial-variables.scss)
